In [1]:
import pandas as pd

In [2]:
csv = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/car.csv'

In [3]:
cars = pd.read_csv(csv)

In [4]:
cars.head(10)

  buying  maint  doors  persons lug_boot safety  class
0  vhigh  vhigh      2      2.0    small    low  unacc
1  vhigh  vhigh      2      2.0    small    med  unacc
2  vhigh  vhigh      2      NaN    small   high  unacc
3  vhigh  vhigh      2      2.0      med    low  unacc
4  vhigh  vhigh      2      2.0      med    med  unacc
5    NaN  vhigh      2      2.0      med   high    NaN
6  vhigh  vhigh      2      2.0      big    low  unacc
7  vhigh  vhigh      2      2.0      big    NaN  unacc
8  vhigh  vhigh      2      2.0      big   high  unacc
9  vhigh    NaN      2      4.0    small    low  unacc

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1151 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

In [6]:
cars['buying'].unique()

array(['vhigh', nan, 'high', 'med', 'low'], dtype=object)

In [7]:
cars['maint'].unique()

array(['vhigh', nan, 'high', 'med', 'low'], dtype=object)

In [8]:
cars['doors'].unique()

array([2, 3, 4, 5], dtype=int64)

In [9]:
cars['persons'].unique()

array([ 2., nan,  4.])

In [10]:
cars['lug_boot'].unique()

array(['small', 'med', 'big'], dtype=object)

In [11]:
cars['safety'].unique()

array(['low', 'med', 'high', nan], dtype=object)

In [12]:
cars['class'].unique()

array(['unacc', nan, 'acc', 'vgood', 'good'], dtype=object)

In [14]:
cars.fillna(
value={'buying': 'unknown','maint': 'unknown','persons':round(cars.persons.mean()),'safety': 'unknown','class': 'unknown'},
inplace=True
)

In [15]:
cars.head(10)

    buying    maint  doors  persons lug_boot   safety    class
0    vhigh    vhigh      2      2.0    small      low    unacc
1    vhigh    vhigh      2      2.0    small      med    unacc
2    vhigh    vhigh      2      3.0    small     high    unacc
3    vhigh    vhigh      2      2.0      med      low    unacc
4    vhigh    vhigh      2      2.0      med      med    unacc
5  unknown    vhigh      2      2.0      med     high  unknown
6    vhigh    vhigh      2      2.0      big      low    unacc
7    vhigh    vhigh      2      2.0      big  unknown    unacc
8    vhigh    vhigh      2      2.0      big     high    unacc
9    vhigh  unknown      2      4.0    small      low    unacc

In [16]:
cars['buying'].nunique()

5

In [17]:
cars['maint'].nunique()

5

In [18]:
cars['doors'].nunique()

4

In [19]:
cars['persons'].nunique()

3

In [20]:
cars['lug_boot'].nunique()

3

In [21]:
cars['safety'].nunique()

4

In [22]:
cars['class'].nunique()

5

In [23]:
cars = cars.astype({'buying': 'category','maint': 'category','persons': 'int','lug_boot': 'category','safety': 'category','class': 'category'})

In [24]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int32
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   class     1728 non-null   category
dtypes: category(5), int32(1), int64(1)
memory usage: 29.8 KB