In [1]:
import pandas as pd

In [2]:
GDP_data = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter02/Datasets/US_GDP.csv')

In [3]:
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [4]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])

In [5]:
GDP_data.set_index('date', inplace = True)

In [6]:
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [7]:
GDP_data.to_csv('/Users/binwang/Documents/BUS INTEL & DS SYS/Pandas/US_GDP_date_index.csv')